<a href="https://colab.research.google.com/github/kundigagandeep/IPL-Auction/blob/main/IPL_Auction_PySpark_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Steps to be taken


1.   Install required packages (pandasql)
2.   Download dataset from Github
3.   Explore data
4.   Come up with questions
5.   Try and answer them(Keep it simple at the beginning)

In [1]:
#Install required packages

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 37.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=397502d7ee881719c35485d6c489c6e0aecef89b44818876ffb3e96399fc369c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
#import libraries

import pandas as pd

from pyspark.sql import SparkSession

from pyspark.sql import *

In [3]:
#Start Spark Session

spark = SparkSession.builder.getOrCreate()

# Download Dataset

In [4]:
!git clone https://github.com/kundigagandeep/IPL-Auction.git

Cloning into 'IPL-Auction'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

# Open and view dataset

In [ ]:
schema = StructType() \
        .add("c0_",IntegerType(),True) \
        .add("Player", StringType(),True) \
        .add("Base Price",StringType(), True) \
        .add("TYPE",StringType(),True) \
        .add("COST IN ₹ (CR.)",FloatType(),True) \
        .add("Cost IN $ (000)",FloatType(),True) \
        .add("2021 Squad", StringType(),True) \
        .add("Team", StringType(),True)

In [8]:
df = spark.read.option("header", True).option('inferSchema',True).csv("/content/IPL-Auction/ipl_2022_dataset.csv")

In [9]:
df.show(5)

+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|_c0|         Player|Base Price|       TYPE|COST IN ₹ (CR.)|Cost IN $ (000)|2021 Squad|          Team|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|           15.0|         1950.0|       SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|           15.0|         1950.0|        MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|           10.0|         1300.0|       KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|            9.0|         1170.0|        RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|            8.0|         1040.0|       KKR|Gujarat Titans|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

# Data Exploration

In [13]:
#Total number of rows and columns
print('Rows: ', df.count())

print('Columns:', len(df.columns))

Rows:  633
Columns: 8

In [14]:
#Data Types

df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

In [15]:
#Unique Values in 'Base Price' Column

df.select('Base Price').distinct().collect()

[Row(Base Price='20 Lakh'),
 Row(Base Price='2 Cr'),
 Row(Base Price='Draft Pick'),
 Row(Base Price='40 Lakh'),
 Row(Base Price='30 Lakh'),
 Row(Base Price='1 Cr'),
 Row(Base Price='50 Lakh'),
 Row(Base Price='1.5 Cr'),
 Row(Base Price='75 Lakh'),
 Row(Base Price='Retained')]

In [16]:
#Distribution of values inside column 'Base Price'

df.groupBy('Base Price').count().show()

+----------+-----+
|Base Price|count|
+----------+-----+
|   20 Lakh|  344|
|      2 Cr|   48|
|Draft Pick|    6|
|   40 Lakh|   16|
|   30 Lakh|    9|
|      1 Cr|   33|
|   50 Lakh|  104|
|    1.5 Cr|   20|
|   75 Lakh|   26|
|  Retained|   27|
+----------+-----+

In [ ]:
#Unique Values in 'TYPE' Column

In [ ]:
#Distribution of values inside column 'Base Price'

# Questions to Answer
1. Top 3 batsman who got paid the most? <br>
2. Top 5 bowlers who got paid the most? <br>
3. Highest paid all-rounders? <br>
4. Average pay for Batsman, Bowler, All-Rounder, Wicket-Keeper? <br>
5. List of Retained players with Salary? <br>

# Data Transformation

In [17]:
df.show(5)

+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|_c0|         Player|Base Price|       TYPE|COST IN ₹ (CR.)|Cost IN $ (000)|2021 Squad|          Team|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|           15.0|         1950.0|       SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|           15.0|         1950.0|        MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|           10.0|         1300.0|       KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|            9.0|         1170.0|        RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|            8.0|         1040.0|       KKR|Gujarat Titans|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
only showing top 5 rows

In [18]:
#Rename Column

df2 = df.withColumnRenamed("Player","player")\
      .withColumnRenamed("Base Price","base_price")\
      .withColumnRenamed("Type","type") \
      .withColumnRenamed("COST IN ₹ (CR.)","cost_inr") \
      .withColumnRenamed("Cost IN $ (000)","cost_usd") \
      .withColumnRenamed("2021 Squad","2021_team") \
      .withColumnRenamed("Team","2022_team")

In [19]:
df2.show(5)

+---+---------------+----------+-----------+--------+--------+---------+--------------+
|_c0|         player|base_price|       type|cost_inr|cost_usd|2021_team|     2022_team|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|    15.0|  1950.0|      SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|    15.0|  1950.0|       MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|    10.0|  1300.0|      KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|     9.0|  1170.0|       RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|     8.0|  1040.0|      KKR|Gujarat Titans|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
only showing top 5 rows

In [20]:
#Dropping USD Column

df3 = df2.drop('cost_usd')

In [21]:
#Check updated Dataframe

df3.show()

+---+-------------------+----------+------------+--------+---------+--------------+
|_c0|             player|base_price|        type|cost_inr|2021_team|     2022_team|
+---+-------------------+----------+------------+--------+---------+--------------+
|  0|        Rashid Khan|Draft Pick|      BOWLER|    15.0|      SRH|Gujarat Titans|
|  1|      Hardik Pandya|Draft Pick| ALL-ROUNDER|    15.0|       MI|Gujarat Titans|
|  2|    Lockie Ferguson|      2 Cr|      BOWLER|    10.0|      KKR|Gujarat Titans|
|  3|      Rahul Tewatia|   40 Lakh| ALL-ROUNDER|     9.0|       RR|Gujarat Titans|
|  4|       Shubman Gill|Draft Pick|      BATTER|     8.0|      KKR|Gujarat Titans|
|  5|     Mohammad Shami|      2 Cr|      BOWLER|    6.25|     PBKS|Gujarat Titans|
|  6|         Yash Dayal|   20 Lakh|      BOWLER|     3.2|     null|Gujarat Titans|
|  7|       David Miller|      1 Cr|      BATTER|     3.0|       RR|Gujarat Titans|
|  8|     R. Sai Kishore|   20 Lakh|      BOWLER|     3.0|      CSK|Gujarat Titans|
|  9|Abhinav Sadarangani|   20 Lakh|      BATTER|     2.6|     null|Gujarat Titans|
| 10|       Matthew Wade|      2 Cr|WICKETKEEPER|     2.4|     null|Gujarat Titans|
| 11|     Alzarri Joseph|   75 Lakh|      BOWLER|     2.4|     null|Gujarat Titans|
| 12|          Jason Roy|      2 Cr|      BATTER|     2.0|      SRH|Gujarat Titans|
| 13|    Wriddhiman Saha|      1 Cr|WICKETKEEPER|     1.9|      SRH|Gujarat Titans|
| 14|       Jayant Yadav|      1 Cr| ALL-ROUNDER|     1.7|       MI|Gujarat Titans|
| 15|      Vijay Shankar|   50 Lakh| ALL-ROUNDER|     1.4|      SRH|Gujarat Titans|
| 16|     Dominic Drakes|   75 Lakh| ALL-ROUNDER|     1.1|      CSK|Gujarat Titans|
| 17|        Varun Aaron|   50 Lakh|      BOWLER|     0.5|     null|Gujarat Titans|
| 18|    Gurkeerat Singh|   50 Lakh| ALL-ROUNDER|     0.5|      KKR|Gujarat Titans|
| 19|         Noor Ahmad|   30 Lakh|      BOWLER|     0.3|     null|Gujarat Titans|
+---+-------------------+----------+------------+--------+---------+--------------+
only showing top 20 rows

# Question 1 - Name top 3 batsman who got paid the most?

In [27]:
df3.select('player','cost_inr').where(df3.type=='BATTER').orderBy('cost_inr', ascending=False).show(3)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+
only showing top 3 rows

In [28]:
df3.createOrReplaceTempView('ipl')

In [30]:
spark.sql("""SELECT player, cost_inr FROM ipl WHERE type = 'BATTER' ORDER BY 2 DESC LIMIT 3""").show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+

# Question 2 - Name top 5 bowlers who get paid the most?

In [32]:
df3.select('player','cost_inr').filter(df3.type=='BOWLER').orderBy('cost_inr',ascending=False).show(5)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|    Rashid Khan|    15.0|
|  Deepak Chahar|    14.0|
| Jasprit Bumrah|    12.0|
| Shardul Thakur|   10.75|
|Lockie Ferguson|    10.0|
+---------------+--------+
only showing top 5 rows

In [33]:
spark.sql("""SELECT player, cost_inr FROM ipl WHERE type = 'BOWLER' ORDER By 2 DESC LIMIT 5 """).show()

+--------------+--------+
|        player|cost_inr|
+--------------+--------+
|   Rashid Khan|    15.0|
| Deepak Chahar|    14.0|
|Jasprit Bumrah|    12.0|
|Shardul Thakur|   10.75|
|    Avesh Khan|    10.0|
+--------------+--------+

# Practice Question 1- Name top 5 All-Rounders who get paid the most?

In [ ]:
mysql("""    """)

# Question 3 - Name 5 lowest paid wicket-keeper?

In [36]:
df3.select('player', 'cost_inr').filter((df3.type=='WICKETKEEPER')&(df3.cost_inr.isNotNull())).orderBy('cost_inr',ascending=True).show(5)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|  Jitesh Sharma|     0.2|
|    Aryan Juyal|     0.2|
|  N. Jagadeesan|     0.2|
|Luvnith Sisodia|     0.2|
| Baba Indrajith|     0.2|
+---------------+--------+
only showing top 5 rows

In [37]:
spark.sql(""" SELECT player, cost_inr FROM ipl WHERE type = 'WICKETKEEPER' AND cost_inr is not null ORDER BY 2 LIMIT 5 """).show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|    Dhruv Jurel|     0.2|
|  Jitesh Sharma|     0.2|
|  N. Jagadeesan|     0.2|
|    Aryan Juyal|     0.2|
|Luvnith Sisodia|     0.2|
+---------------+--------+

# Question 4 - What is the Average pay for Batsman, Bowler, All-Rounder, Wicket-Keeper?

In [42]:
from pyspark.sql import functions as F

df3.groupBy('type').agg(F.round(F.mean('cost_inr'),2).alias('average_price')).show()

+------------+-------------+
|        type|average_price|
+------------+-------------+
|WICKETKEEPER|         5.09|
|      BOWLER|         3.07|
| ALL-ROUNDER|         3.61|
|      BATTER|         4.11|
+------------+-------------+

In [39]:
spark.sql("""SELECT type, round(avg(cost_inr),2) average_price FROM ipl GROUP BY 1 ORDER BY 2 DESC""").show()

+------------+-------------+
|        type|average_price|
+------------+-------------+
|WICKETKEEPER|         5.09|
|      BATTER|         4.11|
| ALL-ROUNDER|         3.61|
|      BOWLER|         3.07|
+------------+-------------+

# Question 5 - List of Retained players with team name and salary?

In [45]:
df3.select('player','2021_team','cost_inr').where(df3.base_price=='Retained').orderBy('cost_inr',ascending=False).show(10)

+---------------+---------+--------+
|         player|2021_team|cost_inr|
+---------------+---------+--------+
|   Rohit Sharma|       MI|    16.0|
|   Rishabh Pant|       DC|    16.0|
|Ravindra Jadeja|      CSK|    16.0|
|    Virat Kohli|      RCB|    15.0|
|   Sanju Samson|       RR|    14.0|
|Kane Williamson|      SRH|    14.0|
|       MS Dhoni|      CSK|    12.0|
| Mayank Agarwal|     PBKS|    12.0|
|  Andre Russell|      KKR|    12.0|
| Jasprit Bumrah|       MI|    12.0|
+---------------+---------+--------+
only showing top 10 rows

In [46]:
spark.sql("""SELECT player, cost_inr FROM ipl WHERE base_price ="Retained" ORDER BY 2 DESC LIMIT 5 """).show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|Ravindra Jadeja|    16.0|
|   Rishabh Pant|    16.0|
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|   Sanju Samson|    14.0|
+---------------+--------+